.o_index_services
{
    padding: 1rem 0;

    background-color: $cs-gray-ultra-light;
    h1,
    h2
    {
        text-align: center;
    }
    h1
    {
        font-size: 1.25rem;
        font-weight: lighter;

        margin-bottom: 0;

        color: $cs-gray-dark;
    }
    h2
    {
        font-size: .88rem;
        font-weight: normal;

        margin-top: 0;

        color: $cs-gray-medium;
    }

    .o_index_services__service
    {
        width: 90%;
        margin: 0 auto;
        padding-bottom: 2rem;

        background-color: $cs-white;

        figure
        {
            width: 100%;
            margin: 0;

            img { width: 100%; }
        }

        .o_index_services__service-details
        {
            padding: 2rem;

            h3
            {
                font-size: 1.5rem;
                font-weight: 600;

                margin: 0;
            }

            p
            {
                font-size: .88rem;

                color: $cs-gray-medium;
            }
        }
    }
}

.o_index_whatwhy
{
    padding: 2rem 4rem;

    h2
    {
        font-size: 1.88rem;
        font-weight: normal;
        line-height: 1;
    }

    figure
    {
        margin: 0 0 .5rem;

        img { width: 100%; }
    }

    .o_whyus__details {
      @media (min-width: $break_medium) {
        padding: 0 1rem;
      }
    }

    h3
    {
        font-size: 1rem;
        font-weight: 600;

        margin: 0;
    }

    p
    {
        font-size: .88rem;

        margin: 0;
        padding-bottom: 2rem;
    }
}
