main
{
    @media (min-width: $break_medium)
    {
        padding: 4rem 0;
    }

    a {
      color: $cs_primary;
      transition: color .3s ease-out;
      &:hover {
        color: $cs-orange-dark;
      }
    }

    article
    {
        @media (min-width: $break_medium)
        {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }

        &:first-of-type
        {
            padding-top: 0;
        }
    }

    .c_description
    {
        padding: 4rem 2rem;

        // @media (min-width: $break_small)
        // {
        //     padding-left: 4rem;
        // }

        @media (min-width: $break_medium)
        {
            padding: 0 2rem 0 4rem;
        }

        h1
        {
            font-size: 2.5rem;
            font-weight: 500;
            line-height: 1;

            margin: 0;

            text-align: center;
            @media (min-width: $break_medium)
            {
                padding-left: 2rem;

                text-align: left;
            }

            a {
              color: inherit;
              font-weight: 500;
              text-decoration: none;

              &:hover {
                color: $cs-primary;
              }
            }
        }

        p
        {
            padding: 0 2rem;
        }
    }

    .c_figure
    {
        margin: 0;
        @media (min-width: $break_medium)
        {
            padding-left: 2rem;
        }

        @media (min-width: $break_large)
        {
            padding-left: 0;
        }
    }

    p
    {
        line-height: 1.8;

        color: $cs_gray_dark;
    }
}
