$tl: .6s; //transition length

.search-container
{
    @media (min-width: $break_small)
    {
        position: relative;
        top: -1.88rem;
        right: 1rem;

        text-align: right;
    }
}

.search-box
{
    width: 18.75rem;
    padding: .25rem 2rem;

    color: $cs_gray_dark;
    border: none;
    border-radius: 1.25rem;
    outline: none;
    background-color: $cs-gray-ultra-light;
    & + label .search-icon
    {
        color: $cs_gray_dark;
    }

    @media (min-width: $break_small)
    {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0;

        cursor: pointer;
        transition: width $tl, border-radius $tl, background $tl;

        border-radius: 1.25rem;

        &:focus
        {
            width: 18.75rem;
            padding: 0 2rem;

            cursor: text;
            transition: width $tl cubic-bezier(0,1.22,.66,1.39), border-radius $tl, background $tl;
        }
        &:not(:focus)
        {
            text-indent: -5000px;
        }
    }
}

#search-submit
{
    position: absolute; left: -5000px;
}

.search-icon
{
    position: relative;
    top: -1.63rem;
    left: .75rem;

    cursor: pointer;
    @media (min-width: $break_small)
    {
        position: absolute;
        top: .81rem;
        right: .81rem;
    }
}
