main
{
    .c_single_feature_image
    {
        figure
        {
            margin: 0;
        }
    }
    .c_single_post
    {
        padding: 2rem;
        @media (min-width: $break_small)
        {
            padding: 2rem 3rem;
        }
        @media (min-width: $break_large)
        {
            padding-right: 0;
            padding-left: 0;
        }

        h1,
        h2,
        h3
        {
            font-weight: 600;
        }
    }
}
