blockquote
{
    font-size: .88rem;
    font-style: italic;

    margin: 0 0 1rem;
    padding: 1rem;

    color: $cs-gray-medium;
    border: 5px solid $cs-gray-light;
    border-radius: $border_radius;
}

address
{
    font-size: .88rem;
}

/*
Forms
 */
main {
  .wpcf7 {
    width: 90%;
    min-width: 300px;
    margin: 0 auto !important;

    @media (min-width: $break_large) {
      width: 100%;
    }

    textarea {
      border: 2px solid rgb(238, 238, 238);
    }
  }
}
