/** Constrains content to a max-width */
.o_container
{
    @media (min-width: $break_large)
    {
        max-width: $break_large;
        margin: 0 auto;
    }
}

.o_row {
  @media (min-width: $break_medium) {
    display: flex;

    .o_col__half {
      width: 50%;
    }

    .o_col__quarters {
      width: 25%;
    }
  }
}
